In [3]:
table_1 = [['First Name', 'Age', 'Height', 'Scores'],
        ['Samantha', '17', '5.5', '80'],
        ['Jade', '16', '6.0', '85'],
        ['Jane', '17', '5.4', '70'],
        ['Claire', '18', '5.9', '60'],
        ['Elizabeth', '16', '5.6', '76'],
        ['Mary', '18', '5.5', '66'],
        ['Susan', '17', '6.1', '87'],
        ['Waje', '20', '6.0', '95'],
        ['Taibat', '19', '5.7', '50'],
        ['Lilian', '17', '5.5', '49']] 
print(table_1)

table_2 = [['First Name', 'Age', 'Height', 'Scores'],
        ['Charles', '19', '5.7', '74'],
        ['Jude', '16', '5.9', '87'],
        ['James', '18', '5.8', '75'],
        ['Kelvin', '17' '6.1', '68'],
        ['Biodun', '20', '5,9', '66'],
        ['Wale', '19', '5.5', '78'],
        ['Kunle', '16', '6.1', '87'],
        ['Matthew', '18', '5,4', '98'],
        ['Tom', '17', '5.8', '54'],
        ['Kayode', '19', '5.7', '60']]
print(table_2)

[['First Name', 'Age', 'Height', 'Scores'], ['Samantha', '17', '5.5', '80'], ['Jade', '16', '6.0', '85'], ['Jane', '17', '5.4', '70'], ['Claire', '18', '5.9', '60'], ['Elizabeth', '16', '5.6', '76'], ['Mary', '18', '5.5', '66'], ['Susan', '17', '6.1', '87'], ['Waje', '20', '6.0', '95'], ['Taibat', '19', '5.7', '50'], ['Lilian', '17', '5.5', '49']]
[['First Name', 'Age', 'Height', 'Scores'], ['Charles', '19', '5.7', '74'], ['Jude', '16', '5.9', '87'], ['James', '18', '5.8', '75'], ['Kelvin', '176.1', '68'], ['Biodun', '20', '5,9', '66'], ['Wale', '19', '5.5', '78'], ['Kunle', '16', '6.1', '87'], ['Matthew', '18', '5,4', '98'], ['Tom', '17', '5.8', '54'], ['Kayode', '19', '5.7', '60']]